#about{
    margin-top: -175px;
    padding: 100px;
}
#about>div>h2{
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    text-shadow: 2px 3px 6px white;
}
#main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.about-me-main-content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#my-image2>img{
    margin-left: 10px;
    width: 300px;
    border-radius: 50px;
    /*border: 2px solid black;*/
    box-shadow: 0px 3px 5px 0px rgb(95, 96, 96);
    animation: floatimg 4s ease-in-out infinite;
}
@keyframes floatimg {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }

}
.aboutme-p{
    width: 47vw;
    font-family: Georgia;
    font-size: 1.5rem;
    color: #ffffff;
    box-shadow: 5px 8px 14px 2px rgb(100, 110, 110);
    border-radius: 30px;
    text-align: center;
    padding: 20px 10px 20px 10px;
}
#btn{

}
.button{
    background-color: #f7f718;
    color: #000000;
    width: 100px;
    height: 28px;
    border-radius: 3rem;
    transition: 0.5s ease;
    margin-top: 40px;
}
.button:hover{
    border: 2px solid #ffffff;
}
#details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width: 1024px) {
    .aboutme-p {
        width: 47vw;
        font-size: 1rem;

    }
    #my-image2>img {
        width: 20vw;
    }
    #details{
        margin-left: 23px;

    }

    .about-me-main-content-section {
        margin-top: 50px;
    }
}


/*Mobile Size*/
@media all and (max-width: 435px) {
    #details {
        margin: 0;
    }

    #my-image2 > img {
        margin: 0;
        width: 53vw;
        border-radius: 34px;
    }

    .aboutme-p {
        margin-top: 44px;
        width: 58vw;
        font-size: 1rem;
    }
    .about-me-main-content-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}


/*Tab Size*/
@media all and (max-width: 768px) {
    #about h2{

    }
    #my-image2>img{
        border-radius: 34px;
    }
    #details>p{

    }
    #btn>a>button{


    }
    #btn{

    }
}


