body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
header{
    height: 50px;
    width: 100%;
    border-bottom: 3px solid white;
    position: fixed;
    backdrop-filter: blur(18px);
    background: transparent;
    z-index: 100;

}
header>h4{
    margin-top: 12px;
    margin-left: -800px;
    font-size: 20px;
    font-family: quantico;
    color: #ffffff;
}
header>nav{
    top: 8px;
    height: 35px;
    width: 550px;
    border-radius: 50px;
    position: fixed;
    text-align: center;
    margin-left: 750px;
    display: flex;
    justify-content: space-between;

}
nav>a{
    list-style: none;
    color: white;
    margin: 0px 10px 20px 10px;
    display: inline-block;
    margin-top: 8px;
    margin-left: -34px;
    text-decoration: none;

}
nav>a:hover{
    color: #f7f718;
}
nav>a:active {
    color: #f7f718;
}

/* Menu icon for mobile and tablet, positioned on the right side */
.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


.sidebar {
    margin-top: -55px;
    width: 0;
    position: fixed;
    z-index: 5000;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #000000;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    display: block;
    transition: 0.3s;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 2;
}


.sidebar.open {
    width: 250px;
}


.sidebar a:hover {
    background-color: #575757;
}

.logo {
    display: none;
}

@media all and (max-width: 768px) {
    nav {
        display: none;
        position: fixed;
    }
    #nav-section{
        display: none;
    }
    #header-name{
        display: none;
    }
    .home-page-logo-nav {

        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        background-color: #191919;
        position: fixed;
        z-index: 800;
        border-bottom: 1px solid #e9ecef;
    }

    .sidebar {
        z-index: 10000;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        padding: 0 20px;
    }


    .logo {
        color: #191919;
        font-size: 1.5rem;
        margin: 0;
        display: block;
        position: fixed;
        left: 10px;
        top: 30px;
        transform: translateY(-50%);

        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 1000;
        font-style: normal;
    }


    .menu-icon {
        display: block;
        position: fixed;
        top: 5px;
        right: 60px;
        z-index: 2;
    }
    header>h4{
        display: none;
    }
    .logo{
        color: white;
        font-size: 15px;
    }
}
