#welcome-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}
#welcome-text{
    margin-top: 100px;
    margin-left: 20px;
    color: #ffffff;
}
#welcome-text>h4{
    font-size: 55px;
    margin-top: 10px;
    font-family:sans-serif;
}
#welcome-text>h3{
    font-size: 50px;
    margin-top: -15px;
    margin-left: 2px;
}
#welcome-text>p{
    font-size: 35px;
    margin-top: -50px;
    margin-left: 2px;
}
#welcome-text>p>span{
    color: #f7f718;
}
#my-image1>img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    box-shadow: 0px 3px 5px 0px rgb(95, 96, 96);
    border: 5px solid #f7f718;
    margin-top: 10px;
    animation: floatimg 4s ease-in-out infinite;
    z-index: 1;
}
@keyframes floatimg {
    0%{
        transform: translatex(0);
    }
    50%{
        transform: translatex(-2rem);
    }
    100%{
        transform: translatex(0);
    }

}
#s-icons>a>img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    color: white;
    background: transparent;
    font-size: 2rem;
    border: 0.2rem solid #f7f718 ;
    border-radius: 15px 10px;
    margin: 2rem 4rem 0.5rem;
}
#s-icons{
    margin-left: -175px;
    margin-top: -265px;
}
#s-icons>img:hover{
    /*background: blue    ;*/
    color: white;
    width: 2.1rem;
    height: 2.1rem;
    /*box-shadow: 0 0 0.5rem #f7f718;*/
}

/*Tab Size*/
@media all and (max-width: 768px) {
    #welcome-text{
        margin-top: -10px;
        margin-left: -135px;
    }
    #s-icons{
        margin-top: 20px;
        margin-left: -210px;
    }
    #my-image1{
        margin-top: -295px;
        margin-left: 135px;
    }
    #welcome-text>h4{
        font-size: 45px;
    }
    #welcome-text>h3{
        font-size: 40px;
    }
    #welcome-text>p{
        font-size: 25px;
    }
    #my-image1>img{
        width: 300px;
        height: 300px;
    }
    #welcome-section{
        display: flex;
        flex-direction: column;
        padding: 100px;
        align-items: center;
    }
}

/*Phone Size*/
@media all and (max-width: 435px) {
    #welcome-text{
        margin-top: -50px;
        margin-left: -4vw;
    }
    #s-icons{
        margin-top: -7px;
        margin-left: -129px
    }
    #my-image1{
        margin-left: 170px;
    }
    #welcome-text>h4{
        font-size: 30px;
        font-family:sans-serif;
    }
    #welcome-text>h3{
        margin-top: -8px;
        font-size: 22px;
    }
    #welcome-text>p{
        font-size: 16px;
        margin-top: -75px;
    }
    #my-image1>img{
        width: 200px;
        height: 200px;
        margin-top: 98px;
        margin-left: -178px;
    }
    #s-icons>a>img{
        margin: 15px;
    }
}